# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf


#######################################
# ONS_bootloader (auxseg_null renamed)
pic_serialport.X/.generated_files
pic_serialport.X/build
pic_serialport.X/debug
pic_serialport.X/dist
pic_serialport.X/nbproject/Makefile-*
pic_serialport.X/nbproject/Package-*
pic_serialport.X/nbproject/private

